*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

body{
    width: 100%;
    height: 1300px;
    background-color: #ffffff;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    display: block;
}

header{
    height: 50px;
    width: 100%;
}

.top{
    height: 50px;
    width: 100%;
    background-color:rgb(255, 252, 247);
}

.logo{
    float: left;
    height: 50px;
    width: 500px;
    z-index: 1;
}
.logo>li{
    float:left;
    text-align: center;
    font-weight: bold;
}

.logo img{
    width: 85px;
    height: 50px;
}

.topmenu{
    float: right;
    height: 50px;
    width: 480px;
    z-index: 1;
}

.sub_topmenu>li{
    float: left;
}

.sub_topmenu>li>a{
    height: 50px;
    width: 120px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(255, 252, 247);
    color: rgb(112, 112, 112);
}
.contents{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    flex: auto;
    height: 1000px;
}
.loginwrap{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 30px 10px 90px;
}
.loginhead{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: rgb(244, 187, 95);
    margin-top: 80px;
    margin-bottom: 25px;
    
}
.loginwrap>form{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 100%;
}

.loginheadstyle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px 50px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-label{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-size: 18px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(112, 112, 112);
    text-align: center;
}
.form-input{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 40px;
}

.inputstyle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
}

.formcontrol{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
}
.inputbase{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    position: relative;
    border-bottom: 1px solid black;
}

.inputbase>input{
    -webkit-text-size-adjust: 100%;
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    overflow: visible;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    touch-action: manipulation;
    text-align: center;
}

.loginbtn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
}

.loginbtn>button{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    touch-action: manipulation;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: button;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(178, 178, 178);
    border: 1px solid rgb(178, 178, 178);
    font-weight: bold;
    font-size: 18px;
}
.loginbtn>button:hover{
    background-color: rgb(244, 187, 95);
}

.snsbtn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 10px;
}
.kakaostyle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    outline: none;
    transition: color .3s;
    touch-action: manipulation;
    box-sizing: border-box;
    background-color: rgb(255, 232, 18);
    text-decoration: none;
    color: inherit;
    width: 190px;
    height: 40px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer !important;
    border-radius: 10px !important;
}
.kakaostyle>svg{
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer !important;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    overflow: visible;
    margin-bottom: 5px;
}

.naverstyle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    touch-action: manipulation;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    outline: none;
    box-sizing: border-box;
    width: 190px;
    height: 40px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer !important;
    border-radius: 10px !important;
    color: white;
    background-color: rgb(54, 199, 54);
}
.naverstyle>img{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    text-transform: none;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer !important;
    color: white;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.googlestyle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    touch-action: manipulation;
    margin: 0;
    line-height: inherit;
    text-transform: none;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: button;
    width: 190px;
    height: 40px;
    -webkit-box-align: center;
    cursor: pointer !important;
    border-radius: 10px !important;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    border: 0.5px solid rgb(178, 178, 178) !important;
    box-shadow: none !important;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}
.snsbtn>label{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font-weight: bold;
    font-size: 13px;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    touch-action: manipulation;
    box-sizing: border-box;
}

.find{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-weight: bold;
    color: rgb(112, 112, 112);
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
}

.create{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-weight: bold;
    color: rgb(81, 151, 242);
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
}
.bt{
    float: left;
    height: 300px;
    width: 100%;
    background: rgb(243, 231, 210);
    font-size: 15px;
}
.btinfo{
    margin-top: 30px;
    width: 100%;
    height: 50px;
}
.btlogo{
    float: left;
    width: 100%;
    height: 50px;
}
.btlogo>li{
    float: left;
    margin: 10px;
}
.btlogo img{
    width:30px;
    height:30px;
}
.btinfo2{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.info{
    margin-left: 5px;
}
.info2{
    width: 100%;
}
.info2>li{
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.company{
    float: left;
    margin-left: 10px;
    width: 100%;
}

.information2{
    margin-top: 10px;
}

