*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

body{
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    height: 50px;
    width: 100%;
}

.top{
    height: 50px;
    width: 100%;
    background-color:rgb(255, 252, 247);
}

.logo{
    float: left;
    height: 50px;
    width: 500px;
    z-index: 1;

}
.logo>li{
    float:left;
    text-align: center;
    font-weight: bold;
}

.logo img{
    width: 85px;
    height: 50px;
}

.topmenu{
    float: right;
    height: 50px;
    width: 480px;
    z-index: 1;
}

.sub_topmenu>li{
    float: left;
}

.sub_topmenu>li>a{
    height: 50px;
    width: 120px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(255, 252, 247);
    color: rgb(112, 112, 112);
}

.slide{
    height: 500px;
    width: 100%;
    background: rgb(255, 252, 247);

}

.imgslide{
    height: 500px;
    width: 100%;
    position: relative;  
    background-position: 50% 50%;
    background-size: cover;
}

.imgslide>a{
    display: block;
    position: absolute;
}
.imgslide2>a{
    display: block;
    position: absolute;
}
.imgslide img{
    width: 2000px;
    height: 300px;
    position: relative;
}

.imgtext{
    height: 50px;
    width: 400px;
    position: absolute;
    margin: -30px 0 0 -250px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40,40,40,0.5);
    left:50%;
    top: 50%;
}
.contents{
    width: 100%;
    height: 1500px;
}

.intro{
    float: left;
    height: 50px;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: rgb(112, 112, 112);
    font-weight: 400;
    font-size: 20px;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 200px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    position: relative;
    padding-bottom: 250px;
    text-align: center;
    color: rgb(112, 112, 112);
    font-weight: 400;
    font-size: 20px;
}

.intro>div{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: rgb(112, 112, 112);
    font-weight: bold;
    font-size: 30px;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
}


.btn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    padding: 4px 15px;
    outline: 0;
    background: #1890ff;
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    background-color: rgb(244, 187, 95);
    border: 1px solid rgb(244, 187, 95);
    color: white;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.12) 0px -1px 0px;
    border-radius: 10px;
    -webkit-appearance: button;
    width: 150px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #ffffff;
}
.key-points{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-size: 25px;
    color: rgb(244, 187, 95);
    font-weight: bold;
    margin: 15px 0px;
}

.primarybold{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-family: "Spoqa Han Sans Neo","sans-serif";
    box-sizing: border-box;
    font-size: 30px;
    color: rgb(244, 187, 95);
    font-weight: bold;
    margin: 15px 0px;
}

.pass{
    height: 300px;
}


.bt{
    float: left;
    height: 300px;
    width: 100%;
    background: rgb(243, 231, 210);
    font-size: 15px;
}
.btinfo{
    margin-top: 30px;
    width: 100%;
    height: 50px;
}
.btlogo{
    float: left;
    width: 100%;
    height: 50px;
}
.btlogo>li{
    float: left;
    margin: 10px;
}
.btlogo img{
    width:30px;
    height:30px;
}
.btinfo2{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.info{
    margin-left: 5px;
}
.info2{
    width: 100%;
}
.info2>li{
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.company{
    float: left;
    margin-left: 10px;
    width: 100%;
}

.information2{
    margin-top: 10px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    z-index: -1;
    opacity: 0;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
    transform: translate(-50%, -40%);
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}