*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

body{
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    height: 50px;
    width: 100%;
}

.top{
    height: 50px;
    width: 100%;
}

.logo{
    float: left;
    height: 50px;
    width: 500px;
    z-index: 1;
}
.logo>li{
    float:left;
    text-align: center;
    font-weight: bold;
}

.logo img{
    width: 85px;
    height: 50px;
}

.topmenu{
    float: right;
    height: 50px;
    width: 480px;
    z-index: 1;
}

.sub_topmenu>li{
    float: left;
}

.sub_topmenu>li>a{
    height: 50px;
    width: 120px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(255, 252, 247);
    color: rgb(112, 112, 112);
}

.slide{
    height: 500px;
    width: 100%;
    background: rgb(255, 252, 247);

}

.imgslide{
    height: 500px;
    width: 100%;
    position: relative;  
    background-position: 50% 50%;
    background-size: cover;
}

.imgslide>a{
    display: block;
    position: absolute;
}
.imgslide2>a{
    display: block;
    position: absolute;
}
.imgslide img{
    width: 2000px;
    height: 300px;
    position: relative;
}

.imgtext{
    height: 50px;
    width: 400px;
    position: absolute;
    margin: -30px 0 0 -250px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40,40,40,0.5);
    left:50%;
    top: 50%;
}

.contents{
    float: left;
    height: 300px;
    width: 100%;
    background-color: rgb(255, 252, 247)
}

.contents>li{
    float: left;
    width: 100px;
    line-height: 30px;
    margin-left: 10px;
}
.contents>li.active div{
    margin-left: 10px;
    width: 400px;
    height: 165px;
    border: 2px solid #dddddd;
    z-index: 1;
}
.contents>li.active2{
    margin-left: 500px;
}
.contents>li.active2 div{
    margin-right: 10px;
    width: 400px;
    height: 165px;
    border: 2px solid #dddddd;
    z-index: 1;
}
.notice ul{
    float: left;
    width: 400px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.notice li{
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.notice li:nth-child(2n){
    background-color: #cccccc;
}

.notice li span{
    float: right;
}

.notice li:hover{
    font-weight: bold;
}

.slider{
    float: left;
    width : 400px;
    height : 200px;
}
.bt{
    float: left;
    height: 300px;
    width: 100%;
    background: rgb(243, 231, 210);
    font-size: 15px;
}
.btinfo{
    margin-top: 30px;
    width: 100%;
    height: 50px;
}
.btlogo{
    float: left;
    width: 100%;
    height: 50px;
}
.btlogo>li{
    float: left;
    margin: 10px;
}
.btlogo img{
    width:30px;
    height:30px;
}
.btinfo2{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.info{
    margin-left: 5px;
}
.info2{
    width: 100%;
}
.info2>li{
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.company{
    float: left;
    margin-left: 10px;
    width: 100%;
}

.information2{
    margin-top: 10px;
}