*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

body{
    width: 800;
    height: 700px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    height: 50px;
    width: 100%;
    margin: auto;
}

.top{
    height: 50px;
    width: 100%;
    background-color:rgb(255, 252, 247);
}


.btn{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-feature-settings: "tnum","tnum";
    -webkit-font-smoothing: antialiased;
    margin: auto;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    padding: 4px 15px;
    outline: 0;
    background: #1890ff;
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    background-color: rgb(244, 187, 95);
    border: 1px solid rgb(244, 187, 95);
    color: white;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.12) 0px -1px 0px;
    border-radius: 10px;
    -webkit-appearance: button;
    width: 150px;
    height: 45px;
    font-size: 18px;
}

.btn:hover{
    background-color: #ffffff;
}

.container { 
    width:600px; 
    margin-top: 60px;
    margin-bottom: 200px; 
    display:block ;
}
ul { 
    list-style-type: none;
} 
label.title { 
    font-weight: bold; 
    width: 80px; 
    float: left;
} 
div.centered { 
    text-align: center; 
} 
fieldset {
    margin: 15px 10px;
} 
fieldset legend { 
    font-weight: bold;
    font-size: 18px;
    color: purple;
} 

ul li { 
    margin-left: 5px;
    margin-bottom: 10px;
}

ul li label{
    margin-left: 5px;
}

